@import '../../elements/common/variables';
@import '../../styles/variables';

.bce-ItemGridCell-figure {
    margin: 0;
}

.bce-ItemGridCell-figcaption {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
}

.bce-ItemGridCell-itemThumbnail {
    background-color: $bdl-gray-02;
    margin-bottom: 5px;
    // padding is used to maintain cell's aspect ratio on resize of container
    padding-bottom: 65%;
    position: relative;
}

.bce-ItemGridCell-item {
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;

    &.bce-ItemGridCell-item--itemIcon {
        align-items: center;
        display: flex;
        justify-content: center;

        & svg {
            height: 60%;
            width: 60%;
        }
    }

    &.bce-ItemGridCell-item--postLoadThumbnail {
        background-position: center center;
        background-repeat: no-repeat;
        background-size: contain;
    }
}
