@import '../variables';

.be-item-label {
    outline: none;
    text-align: left;
    white-space: nowrap;
    width: 100%;

    .bdl-ItemName-ellipsis {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
