@import '../variables';

.be-item-label {
    outline: none;
    text-align: left;
    white-space: nowrap;

    &.be-item-label--wide {
        width: 100%;
    }

    .bdl-ItemName-text {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
