@import '../../elements/common/variables';
@import '../../styles/variables';

.bdl-GridViewSlot {
    border: 1px solid $bdl-gray-10;
    margin: 10px 0 0;
    overflow: hidden;
    padding: 15px;
    white-space: normal;

    &.bdl-GridViewSlot--blank {
        border: none;
        box-shadow: none;
    }

    .bdl-GridViewSlot-itemThumbnail {
        margin-bottom: 10px;
        padding-bottom: 65%;
        position: relative;

        .bdl-GridViewSlot-item {
            bottom: 0;
            left: 0;
            margin: auto;
            position: absolute;
            right: 0;
            top: 0;

            &.bdl-GridViewSlot-itemIcon {
                align-items: center;
                display: flex;
                height: 50%;
                justify-content: center;
                width: 50%;
            }

            &.bdl-GridViewSlot-postLoadThumbnail {
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;
                width: 100%;
            }
        }
    }
}
