.bdl-GridViewSlider {
    display: flex;
    margin-right: 2px;
}

.bdl-GridViewSlider-Range {
    margin-left: 4px;
    margin-right: 4px;
}

.bdl-GridViewSlider-MinusButton {
    display: flex;
}

.bdl-GridViewSlider-PlusButton {
    display: flex;
}
