.bdl-GridViewSlider {
    display: flex;
    margin-right: 2px;
}

.btn-plain {
    &.bdl-GridViewSlider-MinusButton {
        display: flex;
        margin-right: 4px;
    }

    &.bdl-GridViewSlider-PlusButton {
        display: flex;
        margin-left: 4px;
    }
}
